<!doctype html>
<html lang="en">
  <head>
    <%= render "head", metadata: site.metadata, page_title: page.data.title %>
  </head>
  <body>
    <main>
      <%= content %>
    </main>
  </body>
</html>
