---
layout: default
title: Home
---

<div class="home">
  <h1>
    Bridgetown Photo Gallery
  </h1>

  <br><br>
  <div class="gallery">
    <% site.data.albums.each do |album| %>
      <a href="/<%= album.id %>/">
        <%= render Polaroid::Stack.new(album) %>
      </a>
    <% end %>
  </div>

  <br><br>
</div>